:host {
  padding-top: 2em;
}
.card {
  border-block-color: #74b3e3;
  border-style: outset;
}
.mat-chip-list-stacked {
  background-color: #31a4d5;
}
.mat-chip-list-stacked:hover {
  background-color: #6ebfe2;
}
.high_Card {
  background-color: #184e77;
  color: white;
  letter-spacing: 0.09em;
}
.high_Card:hover {
  background-color: #1e7194;
  border-radius: 2%;
}
.titles {
  font-family: 'Courier New', Courier, monospace;
  size: 1em;
}
.subtitles {
  color: rgba(255, 255, 255, 0.616);
  font-weight: 30;
}
button {
  color: white;
  font-weight: 400;
}
