.card {
  border-block-color: #74b3e3;
  border-style: outset;
}
.mat-chip-list-stacked {
  background-color: #d7f1f2;
}
.mat-chip-list-stacked:hover {
  background-color: #abe3e4;
}
.high_Card {
  background-color: #73d0d3;
}
.high_Card:hover {
  background-color: lightseagreen;
}
