<div class="main_body">
  <div class="card">
    <mat-card class="card">
      <mat-card-title>Join the conversation!</mat-card-title>
      <mat-card-subtitle>Get chatting now with students all around campus and at home!</mat-card-subtitle>
      <mat-card-content>
        <div class="card">
          <mat-card class="high_Card" routerLink="/chat">
            <mat-card-title>CHATROOM</mat-card-title>
          </mat-card>
        </div>
        <br />
        <div class="card">
          <mat-card class="high_Card" routerLink="/chat">
            <mat-card-title>PRIVATE CHAT 1</mat-card-title>
          </mat-card>
        </div>
        <br />
        <div class="card">
          <mat-card class="high_Card" routerLink="/chat">
            <mat-card-title>PRIVATE CHAT 2</mat-card-title>
          </mat-card>
        </div>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-stroked-button class="mat-chip-list-stacked" mat-button routerLink="/home">HOME</button>
        <button mat-stroked-button class="mat-chip-list-stacked" routerLink="findBuddy">FIND BUDDY</button>
      </mat-card-actions>
    </mat-card>
  </div>
