<div class="main_body">
  <div class="card">
    <mat-card class="card">
      <mat-card-title>Join the conversation!</mat-card-title>
      <mat-card-subtitle>Get chatting now with students all around campus and at home!</mat-card-subtitle>
      <mat-card-content>
        <div class="card">
          <mat-card class="high_Card" routerLink="/chat">
            <mat-card-title class="titles">The General Chatroom</mat-card-title>
            <hr />
            <mat-card-subtitle class="subtitles">Join the chaos of this random chatroom!</mat-card-subtitle>
          </mat-card>
        </div>
        <br />
        <div class="card">
          <mat-card class="high_Card" routerLink="/chat2">
            <mat-card-title class="titles">The Study Chatroom</mat-card-title>
            <hr />
            <mat-card-subtitle class="subtitles">Find study help or a study partner. Join now!</mat-card-subtitle>
          </mat-card>
        </div>
        <br />
        <div class="card">
          <mat-card class="high_Card" routerLink="/chat3">
            <mat-card-title class="titles">The Hangout Chatroom</mat-card-title>
            <hr />
            <mat-card-subtitle class="subtitles">Make plans, find people on campus, or just chat.</mat-card-subtitle>
          </mat-card>
        </div>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-stroked-button class="mat-chip-list-stacked" mat-button routerLink="/home">HOME</button>
        <button mat-stroked-button class="mat-chip-list-stacked" routerLink="/findbuddy">FIND BUDDY</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
