:host {
  width: 100%;
  height: 100%;
}

.container {
  padding: 30px 10px;
  height: 100%;
}

.text-box {
  width: 40rem;
  height: 100%;
}

.bioarea {
  height: 60vh;
}

app-user-card {
  height: 60vh;
}
