<div class="container">
  <div class="row" id="mainrow">
    <div class="col-sm-4">
      <div class="row">
        
      </div>
      <div class="row text-center">
    
        <!--Grid column-->
        <div class="col-md-7-mb-4">
  
  
          <img class="rounded-circle z-depth-2" alt="100x100" width="150px" height="150px" src="https://images.unsplash.com/photo-1534308143481-c55f00be8bd7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2lkZSUyMHByb2ZpbGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"
            data-holder-rendered="true">
            <div class='status-circle'>
          </div>
          <br>
          <div class="row">
            <br>
            <b>{{profileList.profile_name}},&nbsp;{{profileList.age}}</b>
            <div class="col">
              <button type="button" class="btn btn-secondary">Hiking</button> &nbsp;
              <button type="button" class="btn btn-secondary">Sports</button> &nbsp;
              <button type="button" class="btn btn-secondary">Reading</button>
            </div>
           
          </div>
         
          
  
        </div>
        <!--Grid column-->
  
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col"></div>
        <div class="col-6">
          <div  class="rounded-pill">
            <button type="button" class="btn btn-dark">Message</button> &nbsp; &nbsp;
            <button type="button" class="btn btn-dark">Report</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-dark">Back</button> 
          </div>
        </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <br>
    </div>
    <div class="row">
      <textarea class="form-control" id="bioTextArea" readonly placeholder="Bio" rows="8">{{profileList.biography}}</textarea>
    </div>
   
  </div>
  
</div>