.status-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid white;
    bottom: 0;
    right: 0;
    position: absolute;
  }

 .col {
    margin-top:8%;
 }

 btn.btn-dark{
    border-radius: 240px!important;

 } 
  .col-md-6-mb-4 {
    width: 50px;
    height: 50px;
    position: relative;
  }

  img {
    border-radius: 50%;
  }

  #bioTextArea{
    background-color: #FFFFFF99;
    border:solid 15px lightseagreen;
    border-radius: 25px;
    
  }
  .rounded-pill{
    align-self: center;
  }

  .col-sm-4{
    margin-top: 6%;
  }
  .col-sm-8{
    margin-top: 1%;
  }

  .col-6{
    margin-top: 8%;
  }
  img {
    width: 100;
    height: 100;
  }