<div class="footer">
  <footer >
    <ul class="nav justify-content-center border-bottom">
      <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a routerLink="/about" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a routerLink="/contactus" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a routerLink="/about" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 CampusBuddy</p>
  </footer>
</div>
