<app-centerblock>
  <h1>About CampusBuddy</h1>

  <br />
  <p>Welcome to the all new way for students to interact with other students, on and off campus!</p>
  <p>
    Meet classmates, find new friends, find teammates! Do it all on this community-based website that lets you get that
    full-campus experience in person and online.
  </p>

  <p>It's as easy as registering with CampusBuddy using your university-affiliated e-mail and creating a profile!</p>
  <p>Start chatting now! Join <a routerLink="/landing-page">HERE</a></p>
</app-centerblock>
