:host{
  width: 100%;
  align-content: center;
}

.row {
  margin-bottom: 1rem;
}

.container {
  width: 50%;
  border: 2px grey solid;
  padding: 3px;
}

textarea {
  height: 150px;
}

.saveButton {
  text-align: right;
}

/* CSS Styling for the button on hover of image container */
/* STARTS HERE: */
.imageContainer {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  
  border-radius: 50%;
  border: double 5px lightseagreen
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50%;
}
.imageContainer:hover .image {
  opacity: 0.3;
}
.imageContainer:hover .middle {
  opacity: 1;
}

.text {
  background-color: #184e77;
  color: white;
  font-size: 12px;
  padding: 16px 32px;
  cursor: pointer;
}
/* ENDS HERE - For CSS of button on image container */