<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button mat-raised-button color="accent" routerLink="/home">
        Cancel
      </button>
    </div>
    <div class="col-md-6 saveButton">
      <button mat-raised-button color="primary" (click)="saveNewValues()">
        Save
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="imageContainer">
        <img [src]="userProfile.img" class="image" />
        <div class="middle">
          <!-- Click event right here for the button to upload new images -->
          <div class="text" (click)="fileUpload.click()">Upload image</div>
        </div>
        <div class="centered"></div>
      </div>

      <!-- Input for files - display is none but on click for avatar back end will trigger click here -->
      <input
        #fileUpload
        type="file"
        id="avatarupload"
        name="postPic"
        accept="image/png, image/gif, image/jpeg"
        style="display: none"
        (change)="selectFile($event)"
      />
    </div>
  </div>

  <!-- HTML For Name Field -->
  <div class="row">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="userProfile.profile_name" />
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Write about yourself</mat-label>
      <textarea
        matInput
        placeholder="This is my biography"
        [(ngModel)]="userProfile.biography"
      ></textarea>
    </mat-form-field>
  </div>

  <!-- Tag Drop down -->
  <div class="row">
    <mat-select
      [formControl]="tagSelection"
      placeholder="Select Tags!"
      multiple
      [(ngModel)]="userProfile.tags"
    >
      <mat-option *ngFor="let tag of tagList" [value]="tag.tag_id">{{
        tag.title
      }}</mat-option>
    </mat-select>
  </div>

  <!-- <button *ngFor="let tag of tags" type="button" class="btn btn-secondary">
    {{ tag }}
  </button> -->
</div>
