<div class="card" [routerLink]="['/post', id]" routerLinkActive="active">
  <h5 class="card-title">
    {{ title.length > 200 ? (title | slice: 0:20) + '...' : title }}
  </h5>
  <p>
    <span
      ><a [routerLink]="['/profile', user_id]">{{ username }}</a></span
    >
    - {{ date_created | date }}
  </p>
  &nbsp;
  <img [src]="image || '../../assets/cover.png'" class="card-img-top post-img" alt="..." />

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-secondary">
        {{ category_name }}
      </button>
      &nbsp;
    </div>
  </div>
</div>
