.card {
    align-items: center;
    height: inherit;
    width: 100%;
    padding: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    margin: 10px;
  }
  
  .card-body{
    height: fit-content;
  }
  
  .card-title {
    margin-top: 5px;
  }
  .profile-img {
    border: 3px black solid;
    border-radius: 5%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .button-option {
    margin: 5px;
  }
  
  .btn {
    margin: 5px;
    border-radius: 50%;
  }