:host {
  background-image: url("../../../assets/landingpage.jpg");
  background-size: cover;
}
.central {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  top: 25%;
  bottom: 25%;
  background-color: #184e77;
  opacity: 70%;
  color: white;
  overflow: hidden;
}

img {
  width: 100%;
  margin: auto;
  height: auto;
}
body {
  overflow: hidden;
  width: 100%;
  background-image: url("../../../assets/landingpage.jpg");
  height: 87vh; 
  background-size: cover;
}
