@import './../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
.central {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  top: 25%;
  bottom: 25%;
  background-color: #184E77;
  opacity: 50%;
  color: white;
  overflow: hidden;
}

img {
  width: 150%;
  height: auto;
}
body {
    overflow: hidden;
    margin: 0 -8px 0 -8px;
}



