.router {
  width: 100%;
  background-color: #184e77;
}

.logo {
  width: 12rem;
}

.mat-toolbar.mat-primary {
  background: #184e77;
  color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #184e77;
}

.header {
  /* position: fixed; */
  top: 0;
  width: 100vw;
}