<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  Campus Buddy
  Created: 2021-10-02
  Authors: Natalie Kawalerczak, Amasia Nalbandian, Alyssa Hanson, Muhammed Shijas
  Created for: PRJ666

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 5px 0px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .content {
    display: flex;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-image: url('../assets/landingpage.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  .content2 {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: white;
    width: 90%;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    margin-top: 8px;
    display: fixed;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 2px;
    }
  }
</style>

<div class="navbar-container header">
  <mat-toolbar class="navbar header2" color="primary">
    <a class="navbar-brand" matTooltip="Home" *ngIf="!_token" routerLink="/">
      <img class="logo" src="../assets/logo2.png" />
    </a>

    <a class="navbar-brand" matTooltip="Home" *ngIf="_token" routerLink="/home">
      <img class="logo" src="../assets/logo2.png" />
    </a>

    <span class="navbar-spacer"></span>
    <div>
      <button *ngIf="!_token" mat-button routerLink="/about">
        <span fxShow fxHide.xs> About </span>
      </button>

      <button mat-button routerLink="/contactus">
        <span fxShow fxHide.xs> Contact Us </span>
      </button>

      <button *ngIf="!_token" mat-button routerLink="/login">
        <span fxShow fxHide.xs> Login </span>
      </button>

      <button *ngIf="_token" mat-button routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>

      <button *ngIf="!_token" mat-button routerLink="/register">
        <span fxShow fxHide.xs>Register </span>
      </button>

      <button mat-button *ngIf="_token" [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
        <span fxShow fxHide.xs> {{ username }} </span>
      </button>
    </div>
    <mat-menu class="content2" #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
      <a mat-menu-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-menu-item (click)="displayLogoutModal()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </a>
    </mat-menu>
  </mat-toolbar>
  <div class="content" *ngIf="!_token"><router-outlet></router-outlet></div>
  <div class="content2" *ngIf="_token"><router-outlet></router-outlet></div>
</div>

<app-footer *ngIf="!_token" class="footer"></app-footer>
