.content {
    overflow-y:auto;
    overflow-x: hidden;
    text-align: center;
}

.myposts {
    background-color:mediumseagreen;
    color: white;
}

.card-box {
    min-width: 18rem
}

.mat-raised-button {
    margin: 5px;
}

.row {
    justify-content: center;
}