.content {
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}
.myposts {
  background-color: mediumseagreen;
  color: white;
}
.card-box {
  min-width: 18rem;
}
.mat-raised-button {
  margin: 5px;
}
.mat-raised-button:hover {
    opacity: 80%;
}
.allbuttons{
    background-color: #31a4d5;
    color: white;
}
.allbuttons:hover{
    background-color: #6ebfe2;
}
.row {
  justify-content: center;
}
