
<div class="container pb50">
    <div class="row">
        <div class="col-md-9 mb40">
            <article>
                <img src="https://images.unsplash.com/photo-1455734729978-db1ae4f687fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="" class="img-fluid mb30">
                <div class="post-content">
                    <h3>{{this.postDetails.title}}</h3>
                    <ul class="post-meta list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-user-circle-o"></i> <a [routerLink]="['/profile',this.postDetails.user_id]">{{this.userInfo.profile_name}}</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-calendar-o"></i>{{this.dayString}}&nbsp; {{this.postDate}} 
                        </li>
                    </ul>
                    <p>{{this.postDetails.details}}</p>                   
                    <hr class="mb40">
                    <h4 class="mb40 text-uppercase font500">Comments</h4>
                    <div class="media mb40" *ngFor="let comment of postComment">
                        <div class="media-body">
                            <h5 class="mt-0 font400 clearfix">
                                     <b> <a [routerLink]="['/profile/',this.comment.user_id]">  {{this.commentedUser[comment.user_id]}} </a></b></h5> {{comment.comment}}
                        </div>
                        <div *ngIf="this.commentEditAuthorisation[comment.user_id]">
                            <button class="mat-flat-button" (click)="enableEditor(comment.comment_id)">Edit</button>
                            <button class="mat-flat-button" (click)="enableDelete(comment.comment_id)">Delete</button>
                        </div>
                        
                    </div >
                    <hr class="mb40">
                    <div *ngIf="!editClicked">
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                            <h4 class="mb40 text-uppercase font500">Post a comment</h4>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="this.newComment.comment" [ngModelOptions]="{standalone: true}" class="form-control" rows="5" placeholder="Comment"><br>
                            </div>
                            <div class="clearfix float-right">
                                <button type="button" (click)="onSubmit('create')" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </form>
                    </div>
                    
                    <div *ngIf="editClicked">
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                            <h4 class="mb40 text-uppercase font500">Edit comment</h4>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="this.newComment.comment" [ngModelOptions]="{standalone: true}" class="form-control" rows="5" [(ngModel)]="editComment.comment"><br>
                            </div>
                            <div class="clearfix float-right">
                                <button type="button" (click)="onSubmit('edit')" class="btn btn-primary btn-lg">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </article>
            <!-- post article-->

        </div>
        <div class="col-md-3 mb40">
           
            <div class="mb40" *ngIf=this.postEditAuthorisation>
                <i class="bi bi-pencil-fill"><a [routerLink]="['/post/edit/',this.postDetails.post_id]">  Edit Post <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
</svg></a></i><br>
            </div>
            <!--/col-->
            <div class="mb40">
                <h4 class="sidebar-title">Category</h4>
                <ul class="list-unstyled categories">
                    <li>{{this.postDetails.category_name}}</li>
                </ul>
            </div>
            
           
           
        </div>
    </div>
</div>