.content {
    overflow-y:auto;
    overflow-x: hidden;
    text-align: center;
}

.card-box {
    min-width: 18rem
}

.mat-raised-button {
    margin: 5px;
    background-color: #31a4d5;
    color: white;
}
.mat-raised-button:hover {
    background-color: #6ebfe2;
}

.row {
    justify-content: center;
}