<div class="row">
  <div class="col-sm-3">
   <app-user-card></app-user-card>
  </div>
  <div class="col-sm-9">
    <div class="row row-cols-2">
      <div class="col">
        <div
          class="card text-white bg-secondary border-dark mb-3 link-box"
          routerLink="/findbuddy"
        >
          <div class="card-header">Find Buddy</div>
          <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card text-white bg-secondary border-dark mb-3 link-box"
          routerLink="/"
        >
          <div class="card-header">All Convos</div>
          <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card text-white bg-secondary border-dark mb-3 link-box"
          routerLink="/"
        >
          <div class="card-header">BulletinBoard</div>
          <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card text-white bg-secondary border-dark mb-3 link-box"
          routerLink="/"
        >
          <div class="card-header">Profile</div>
          <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
