<div class="row">
  <div class="col-sm-3">
   <app-user-card [username]="username"></app-user-card>
  </div>
  <div class="col-sm-9">
    <div class="row row-cols-2">
      <div class="col">
        <div
          class="card text-white bg-secondary border-dark mb-3 link-box"
          routerLink="/findbuddy"
        >
          <div class="card-body">
            <h5 class="card-title">Find Buddy</h5>
            <p class="card-text">
              Looking to meet new buddies? View all buddies online and filter through by tags to meet individuals with similar interests!
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card text-white bg-secondary border-dark mb-3 link-box"
          routerLink="/all-convos"
        >
          <div class="card-body">
            <h5 class="card-title">All Convos</h5>
            <p class="card-text">
              Join here to connect with other peers in a chat application. 
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card text-white bg-secondary border-dark mb-3 link-box"
          routerLink="/"
        >
          <div class="card-body">
            <h5 class="card-title">Bulletin Board</h5>
            <p class="card-text">
              A place to create posts, and view other students' posts about anything you want!
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card text-white bg-secondary border-dark mb-3 link-box"
          routerLink="/"
        >
          <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <p class="card-text">
              View and edit your profile - customize it to connect with more people!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

